@font-face {
  font-family: "Borna";
  src: url("/font/borna/borna.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--color-black);
  color: var(--color-black);
  font-family: var(--font-borna);
  height: 100vh;
  font-size: 16px;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  ::-moz-selection {
    background: var(--color-black);
    color: var(--color-white);
  }
  ::selection {
    background: var(--color-black);
    color: var(--color-white);
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}