.h1,
h1 {
  font-size: clamp(30px, 8vw, 100px);
  font-family: var(--font-borna);
}

.svg-as-h1 {
  height: clamp(30px,  8vw, 100px);
}

.h2,
h2 {
  font-size: clamp(20px, 5vw, 50px);
  font-family: var(--font-borna);
  font-weight: 500;
}

p, a, span {
  font-family: var(--font-borna);
}

a {
  text-decoration: none;
  font-size: clamp(16px, 4vw, 25px);
}